.cinema {
    overflow-x: hidden;
  }
  .cinema .slider-cinema {
    margin-bottom: 30px;
  }
  .cinema .btn-slider {
    width: fit-content;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: black;
  }
  .cinema .btn-slider:nth-child(2) {
    background-color: #FF3D00;
    color: white;
  }
  .cinema .image-slider {
    position: relative;
    background: url(../img/banner.jpg);
    background-size: cover;
    height: 450px;
    overflow: hidden;
  }
  .cinema .image-slider .container {
    margin-top: 200px;
  }
  .cinema .image-slider .container h1 {
    color: white;
  }
  .cinema .image-slider .container p {
    color: white;
  }
  .cinema .search .search-input {
    margin-top: 20px;
    margin-left: 150px;
    width: 400px;
    border: none;
    padding: 5px 15px;
    outline: none;
    border-radius: 5px;
  }

  .cinema .container-cinema {
    margin-top: 40px;
    margin-left: 150px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background: linear-gradient(to left top, red, black); */
  
  }
  .cinema .container-cinema .cinema-card {
    color: white;
    width: 1100px;
    background-color: black;
    padding: 10px;
    display: flex;
    gap: 20px;
  }
  .cinema .container-cinema .cinema-card .cinema-img img {
    width: 100px;
  }