:root {
    --yellow: rgb(225, 177, 45);
  }

/* body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: block;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(to left top, red, black);
} */
.movie-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-weight: 400;
}
.slider-container{
    width: 90%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.slider-container .slides{
    width: 500%;
    height: 400px;
    display: flex;
}
.slider-container .slides input{
    display: none;
}
.slider-container .slides .slide{
    width: 20%;
    transition: 2s;
}
.slider-container .slides .slide img{
    /* width: 800px; */
    height: 400px;
}

/* ------- Manual Navigation ---------*/
.navigation-manual{
    position: absolute;
    width: 90%;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.navigation-manual .manual-btn{
    border:  2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-manual .manual-btn:not(:last-child){
    margin-right: 10px;
}
.navigation-manual .manual-btn:hover{
    background: white;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}


/* ------- Automatic Navigation ---------*/
.navigation-auto{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 370px;
}
.navigation-auto div{
    border:  2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 10px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: white;
}

.show-type-container{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 20px;
}
.show-type-container .show-type{
    cursor: pointer;
    position: relative;
    color: var(--yellow);
    font-size: 20px;
}
.show-type-container .show-type:not(:last-child){
    margin-right: 50px;
}
.show-type-container .show-type::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--yellow);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.show-type-container .show-type:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.tab-active{
    border-bottom: 2px solid var(--yellow);
}
.movie-container{
    width: 90%;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: start;
    flex-wrap: wrap;
    margin: auto;
}
.movie-container .movie-item{
    margin: 10px;
}
.movie-container .movie-card{
    width: 215px;
    height: 315px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    transition: .4s, background-position 0s;
    background-color: rgba(0, 0, 0, 0.8);
}
.movie-container .movie-card img{
    position: absolute;
    background-size: contain;
    height: 315px;
    width: 215px;
    border-radius: 10px;
    overflow: hidden;
    pointer-events: non
    /* z-index: -5; */
    /* display: block; */
}
.movie-container .movie-card img:hover{
    z-index: -5;
}
.movie-container .movie-card .movie-info{
    color: white;
    width: 100%;
    height: 100%;
    transition: 1s;
    /* display: none; */
}
.movie-container .movie-card ul{
    list-style-type: none;
    padding: 15px;
}
.movie-container .movie-card ul li{
    display: flex;
    align-items: center;
    transition: 1s;
}
.movie-container .movie-card ul li p{
    padding-top: 15px;
}
.movie-container .movie-card ul li .title{
    font-size: 25px;
    font-weight: 800;
}
.movie-container .movie-card ul li .fa-tag, .fa-clock, .fa-calendar-alt{
    margin-right: 10px;
}
.movie-container .btn{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid;
    background-color: rgb(225, 177, 45);
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
.movie-container .btn:hover{
    background-color: rgb(190, 146, 24);
    color: white;
}